*,
:after,
:before {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(32, 32, 32);
    margin: auto 20px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    width: 60%;
    height: auto;
    background-color: #f5f5dc;
    margin: 60px auto;
    padding: 40px;
}

h1 {
    padding: 5px;
    margin: 10px;
}

.btns {
    padding: 5px;
    margin: 10px;
}

.btn {
    outline: none;
    background-color: black;
    color: white;
    border-radius: 5px;
    padding: 5px;
    margin: 0px 5px;
    box-shadow: 2px 2px 2px silver;
    width: 70px;
}

@media (max-width: 900px) {
    .container {
        width: 80%;
        height: auto;
    }
}

@media (max-width: 400px) {
    .btns {
        display: flex;
        flex-direction: column;
    }
    .btn {
        margin: 5px auto;
    }
    .container {
        width: 70%;
        height: auto;
    }
}